@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header */
.ant-layout {
  @apply bg-white
}

.header1 {
  @apply bg-[#dbd5e2] px-[150px] border-b-2 pt-[10px] pb-[7px] text-[12px]
}

.header1 .contact a {
  @apply ml-[8px]
}

.ant-layout-header {
  @apply bg-[#dbd5e2] py-0 px-2 flex items-center
}

.ant-menu {
  @apply bg-inherit
}

.search input.ant-input {
  @apply leading-[32px] border px-2 border-r-0 w-[20em] 
}

.search .ant-btn {
  @apply border-solid border-2 border-[#666666]
}

/* Aside */
.ant-layout-sider {
  @apply bg-[#cbcab7]
}

.custom-sider .ant-menu {
  @apply !h-auto 
}

/* Content */
.react-multi-carousel-item {
  @apply pr-4
}

.react-multiple-carousel__arrow {
  @apply bg-black
}

.fij {
  @apply flex items-center justify-between
}

.ant-card-body {
  @apply p-[10px]
}

.course-item .ant-space-item {
  @apply shrink-0
}

.course-item button {
  @apply px-1
}

.absolute-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}